@font-face {
	font-family: 'ALS Sector';
	src: url('../fonts/ALS-Sector-Bold.eot');
	src: local('ALS-Sector-Bold'), local('ALS-Sector-Bold'),
		url('../fonts/ALS-Sector-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ALS-Sector-Bold.woff') format('woff'),
		url('../fonts/ALS-Sector-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ALS Sector';
	src: url('../fonts/ALS-Sector-Regular.eot');
	src: local('ALS-Sector-Regular'), local('ALS-Sector-Regular'),
		url('../fonts/ALS-Sector-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ALS-Sector-Regular.woff') format('woff'),
		url('../fonts/ALS-Sector-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

