*,
h1,
h2,
h3,
h4,
label,
p,
span, a, button, input, a {
  padding: 0;
  margin: 0;
  font-family: 'ALS Sector';
  font-weight: normal;
  font-style: normal;
  color: #193040;
}
h1, h2, h3, h4, p, span, a, button{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  outline:none;
}

a {
text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

a, a:hover, a:focus, a:active, button, button:focus, button:active { outline: none !important}
button:focus{
  outline:0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

button:active{
  outline:0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/*---------------------
          ОБЩИЕ
---------------------*/
p{
  font-size: 16px;
}

.widget__wrapper{
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(167, 201, 223, 0.5);
  border-radius: 24px;
  padding: 32px 40px 25px 40px;
  max-width: 320px;
  min-height: 504px;
}

.widget__section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__title{
  display: flex;
  justify-content: space-between;
  width: 100%;
  p{
    font-size: 10px;
    letter-spacing: 0.02em;
    opacity: 0.75;
  }
  span{
    opacity: 0.25;
  }
}

.btn__send{
  border: none;
  border-radius: 16px;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 51px;
  span{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
  }
}

.btn__blue{
  background: #2595DF;
}
.btn__green{
  background: #1EC038;
}
.btn__grey{
  background: #DDE3E8;
}
.btn__black{
  background: #231F20;
}

.line__grey{
  background: rgba(25, 48, 64, .2);
  width: 100%;
  height: 1px;
}

.line_verticalBlue{
  background: rgba(37, 149, 223, 0.25);
  width: 1px;
  height: 16px;
}
.line_vertical{
  background: rgba(25, 48, 64, 0.1);
  height: 100%;
  width: 1px;
  position: relative;
}
.user__input{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid rgba(25, 48, 64, 0.1);
  border-radius: 8px;
  height: 48px;
  margin-bottom: 16px;
  input{
    width: 100%;
    font-size: 24px;
    //letter-spacing: 0.15em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 14px 10px 14px;
    z-index: 99;
    background: inherit;  
    text-align: center;
    color: #526470;
  }
  .updateText{
    color: #526470;
    position: absolute;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    span{
      opacity: 0.5;
    }
  }
  .updateTextCurcor:after {
    content: '';
    width: 2px;
    height: 20px;
    margin-left: 2px;
    background: black;
    opacity: 0;
    display: inline-block;
    animation: blink 1s linear infinite alternate;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.user__input input::-webkit-input-placeholder{
  color: #526470;
}
.user__input input::-moz-placeholder{
  color: #526470;
}
.user__input input:-moz-placeholder{
  color: #526470;
}
.user__input input:-ms-input-placeholder{
  color: #526470;
}

.startGif{
  width: 100%;
}

/*---------------------
        BUY
---------------------*/

.buy__title{
  display: flex;
  justify-content: space-between;
  width: 100%;
  p{
    font-size: 10px;
    letter-spacing: 0.02em;
    opacity: 0.75;
  }
  span{
    opacity: 0.25;
  }
}
.buy__input{
  
  p{
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    width: 20%;
  }
  input, .updateText{
    width: 80%;
    color: #193040;
    text-align: left;
  }
  input{
    color: rgba(0, 0, 0, 0);
  }
  .updateText{
    color: #193040;
    opacity: 1;
    justify-content: flex-start;
    padding-left: 14px;
  }
}
.buy__hint{
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  p{
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    opacity: 0.75;
  }
  .hint__icon{
    position: absolute;
    right: 0;
    display: flex;
    z-index: 9;
    a:last-child{
      margin-left: 12px;
    }
  }
}

.buy__card{
  display: flex;
  margin-top: 22px;
  img{
    margin-right: 10px;
  }
  img:last-child{
    margin-right: 0;
  }
}

/*---------------------
          JOIN
---------------------*/

.join__describe{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-top: 25px;
}
.join__input{
  margin-top: 62px;
  width: 100%;
  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(25, 48, 64, 0.25);
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
    
    color: #193040;
    height: 48px;
  }
}
.join__input input::-webkit-input-placeholder{
  color: #193040;
}
.join__input input::-moz-placeholder{
  color: #193040;
}
.join__input input:-moz-placeholder{
  color: #193040;
}
.join__input input:-ms-input-placeholder{
  color: #193040;
}
.join__link{
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #526470;
  opacity: 0.75;
  line-height: 24px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  a{
    color: #2595DF;
    font-weight: normal;
  }
}

/*---------------------
       VERIFY
---------------------*/

.verify_title{
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  color: #526470;
}
.verify__input{
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  border: 1px solid rgba(25, 48, 64, 0.1);
  width: 100%;
  height: 48px;
  margin-top: 45px;
  position: relative;
  input{
    border: none;
    width: 100%;
    height: 60%;
    border-radius: 8px;
    font-size: 24px;
    color: #526470;
    text-align: center;
    letter-spacing: 0.1em;
  }
  span{
    position: absolute;
    top: 5px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.38);
    text-align: center;
    width: 100%;
  }
}
.verify{
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn__send{
    margin-top: 30px;
    margin-bottom: 36px;
  }
}
.verify__describe{
  font-size: 16px;
  line-height: 20px;
  width: 90%;
  text-align: center;
  color: #4F5D73;
  margin-bottom: 25px;
}

/*---------------------
       DETAIL
---------------------*/
.detail_inputText{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 16px;
  p{
    font-size: 10px;
    letter-spacing: 0.02em;
    color: #526470;
  }
  input{
    border: 1px solid rgba(25, 48, 64, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    padding-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #526470;
  }
}
.detail__describtion{ 
  font-size: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #526470;
  margin-top: 25px;
  margin-bottom: 25px;
}
.detail .detail__input{
  margin-bottom: 27px;
}
.detail .btn__send{
  margin-top: 10px;
  margin-bottom: 27px;
}
.detail .btn__pay{
  margin-top: 27px;
  margin-bottom: 68px;
}

/*---------------------
       processing
---------------------*/

.processing{
  display: flex;
  flex-direction: column;
  align-items: center;
  .loading{
    width: 250px;
  }
  .loading__okay{
    display: none;
  }
}

.processing__list{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.processing__item{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  p{
    letter-spacing: 0.02em;
    opacity: 0.5;
  }
  a{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2595DF;
  }
}

.processingResult{
  margin-top: 57px;
  display: none;
}

.processing__item:last-child {
  margin-bottom: 127px;
  p{
    opacity: 1;
  }
}

.processing__title{
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 34px;
  margin-top: 25px;
  display: none;
}

/*---------------------
       PROCEED
---------------------*/

.proceed{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    margin-top: 80px;
  }
}
.proceed__title{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.proceed__descibe{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px;
}

/*---------------------
       INFORMATION
---------------------*/
.information{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__title{
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  width: 100%;
}
.information__descibe{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-top: 31px;
}
.information__input{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 45px;
  position: relative;
  input{
    border: none;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    border-bottom: 1.25px solid #D1D6D9;
    margin-top: 27px;
    margin-bottom: 20px;
  }
  span{
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.02em;
  }
}
.information__link{
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #526470;
  opacity: 0.75;
  text-align: center;
  line-height: 24px;
  margin-bottom: 5px;
  a{
    color: #2595DF;
  }
}

/*---------------------
        SEND
---------------------*/
.send{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    margin-top: 30px;
  }
}
.send__title{
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}
.send__descibe{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 12px;
  margin-bottom: 35px;
}
.btn__send{
  font-weight: normal;
  span{
    font-weight: normal;
  }
}

/*---------------------
        Transaction
---------------------*/
.transaction{
  display: flex;
  flex-direction: column;
  img{
    margin-top: 30px;
  }
  .transaction__title{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 115px;
    margin-bottom: 50px;
    text-align: center;
  }
  p{
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: left;
    span{
      font-size: 16px;
      font-weight: bold;
    }
  }
  a{
    color: #2595DF;
    text-decoration: underline;
    margin-bottom: 70px;
  }
  .transaction__describtion{
    margin-bottom: 70px;
  }
  .line__grey{
    width: calc(100% + 80px);
    margin-left: -40px;
  }
}
.transaction__politic{
  font-size: 10px;
  line-height: 14px;
  color: #000000;
  margin-left: -20px;
  margin-top: 23px;
  a{
    color: #000000;
    text-decoration: underline;
  }
}
.transaction .transaction__email{
  margin-top: 40px;
  margin-bottom: 140px;
}
.transaction .transaction__center{
  text-align: center;
  width: 100%;
}
.card__input{
  width: 100%;
  justify-content: flex-start;
  input{
    text-align: center;
    width: 100%;
    background: inherit;
    z-index: 99;
    color: #526470;
    //letter-spacing: 0.15em;
    letter-spacing: 0.02em;
  }
}
/*---------------------
      expires
---------------------*/
.expires{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.expires__title{
  font-size: 10px;
  letter-spacing: 0.02em;
  color: #526470;
}

.expires_data, .expires_cvc{
  width: 48%;

}
.expires_cvc{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.expires .user__input{
  width: 100%;
  display: flex;
  input{
    width: 50%;
    height: 100%;
    padding: 0px 10px 0px 10px;
    color: #526470;
    letter-spacing: 0.02em;
    opacity: 0.5;
    text-align: center;
  }
  .expires__mm{
    opacity: 1;
  }
  .expires__slesh{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #526470;
  }
  .expires__cvc{
    width: 100%;
  }
}
